section {
  transition: opacity .2s, transform .4s;
  transform: translate3d(-10vw, 0, 0);
  transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
  transition-duration: .4s;

  &.active {
    transform: translate3d(0, 0, 0);
    z-index: 1;
  }

  &.active + section {
    transform: translate3d(10vw, 0, 0);
  }

  &.active ~ section {
    opacity: 0;
  }
}

